{%extends "layout.html"%}
{%block content%}
{{ form.hidden_tag() }}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{bucket_url_pfp + advert.author.image_file)}}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{url_for('users.user_adverts', username=advert.author.username)}}">{{ advert.author.username }}</a>
            <small class="text-muted">{{ advert.date_posted.strftime('%d-%m-%Y') }}</small>
            {%if advert.author == current_user or current_user.email == "elliot@valeviews.com"%}
            <div>
                <a class = "btn btn-secondary btn-sm m-1" href="{{url_for('adverts.update_advert', advert_id=advert.id)}}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            {%endif%}
        </div>
        <h2 class="article-title">{{ advert.title }}</h2>
        <img src={{bucket_url_ad + advert_image}} class="rounded float-right image-fluid" alt="">
        <p class="article-content">{{ advert.content }}</p>
        <h3 class="text-bold">{%if advert.bid%} Reserve Price: {%endif%}£{{ advert.price}}</h3>
        {%if advert.bid%}<h4 class="text-muted">{%if bid.price%}Current Bid: £{{bid.price}}{%else%}No Current Bid, Be the First!{%endif%}</h4>{%endif%}
        {%if advert.bid%}<h4 class="text-muted">{%if bid.price%}Current Bidder: {{user.username}} {%endif%}</h4>{%endif%}
        </div>
    </article>
    {%if current_user.is_authenticated and current_user != advert.author%}
      {%if not advert.bid%}
      <h4>If you are interested in this product, Contact the Seller Below!</h4>
      <form method="POST" action="">
        <div class="form-group">
          {{ form.message.label(class="form-control-label") }}
          {% if form.message.errors %}
              {{ form.message(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.message.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.message(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      {%endif%}
      {%if advert.bid%}
      <form method="POST" action="">
        {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.bid.label(class="form-control-label") }}
            <div class="input-group">
                <div class="input-group-prepend">
                <div class="input-group-text">£</div>
                </div>
                {% if form.bid.errors %}
                    {{ form.bid(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.bid.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.bid(class="form-control form-control-lg") }}
                {% endif %}
            </div>
          </div> 
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      {%endif%}
    {%endif%}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Advert?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{url_for('adverts.delete_advert', advert_id=advert.id)}}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
    </div>

{%endblock content%}